$mm: 0.1693mm;

.walking-ticket {
    padding: 36 * $mm 40 * $mm;
    border: 2 * $mm solid #000000;
    border-radius: 16 * $mm;

    &__col {
        &:first-child {
            padding-right: 16 * $mm;
        }

        &:last-child {
            padding-left: 16 * $mm;
        }
    }

    &__qr {
        padding: 24 * $mm;

        img {
            width: 165 * $mm;
            height: 165 * $mm;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 42 * $mm;
        line-height: 51 * $mm;
        color: #2c2c2c;
        margin-bottom: 32 * $mm;
    }

    &__time {
        width: 550 * $mm;

        &-title {
            color: #a0a0a0;
            font-size: 20 * $mm;
            line-height: 24 * $mm;
            margin-bottom: 8 * $mm;
        }

        &-date {
            font-weight: 700;
            font-size: 32 * $mm;
            line-height: 39 * $mm;
            color: #2c2c2c;
        }

        &-period {
            font-size: 20 * $mm;
            line-height: 24 * $mm;
            text-align: center;
            vertical-align: middle;
            color: #2c2c2c;

            &::after,
            &::before {
                content: '';
                display: inline-block;
                font-size: 0;
                line-height: 0;
                width: 52 * $mm;
                height: 1 * $mm;
                background: #000;
                vertical-align: middle;
                margin-left: 8 * $mm;
                margin-right: 8 * $mm;
            }
        }
    }
}
