$mm: 0.2636mm;

@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-display: swap;
    src: url('../../fonts/Akrobat.ttf') format('truetype');
}
@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../fonts/Calibri-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-display: swap;
    src: url('../../fonts/Calibri.ttf') format('truetype');
}

html {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    min-width: 320 * $mm;
    color: #000;
    font-weight: 400;
    font-family: 'Calibri', Verdana, sans-serif;
    // font-family: 'Akrobat';
    font-size: 1em;
    line-height: 1.4;
    background: #fff;
}

p {
    margin: 0;
}

a {
    font-size: 24 * $mm;
    line-height: 29 * $mm;
    color: #1333b5;
    text-decoration: none;
}

table {
    width: 100%;
}

ul,
dl,
dt,
dd,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.mb {
    &-8 {
        margin-bottom: 8 * $mm;
    }

    &-16 {
        margin-bottom: 16 * $mm;
    }

    &-24 {
        margin-bottom: 24 * $mm;
    }

    &-32 {
        margin-bottom: 32 * $mm;
    }

    &-48 {
        margin-bottom: 48 * $mm;
    }

    &-64 {
        margin-bottom: 64 * $mm;
    }
}
td {
    vertical-align: top;
    &.col {
        &-2 {
            width: 50%;

            &:first-child {
                padding-right: 24 * $mm;
            }

            &:last-child {
                padding-left: 24 * $mm;
            }

            &--64 {
                &:first-child {
                    padding-right: 32 * $mm;
                }

                &:last-child {
                    padding-left: 32 * $mm;
                }
            }
        }

        &-3 {
            width: 33.33%;

            &:first-child {
                padding-right: 8 * $mm;
            }
            &:not(:first-child) {
                padding-right: 8 * $mm;
                padding-left: 8 * $mm;
            }

            &:last-child {
                padding-right: 8 * $mm;
            }
        }
    }
}

.text {
    &-md {
        font-size: 24 * $mm;
        line-height: 1.2;

        &--bold {
            font-weight: 700;
        }
    }

    &-lg {
        font-size: 32 * $mm;
        line-height: 1.2;

        &--bold {
            font-weight: 700;
        }
    }
}

.voucher-template {
    width: 210mm;
    // width: 1240 * $mm;
    height: 215mm;
    margin: 0 auto;
    font-size: 24 * $mm;
    padding: 0;

    &__header {
        border-bottom: 2 * $mm solid #000;
        padding-bottom: 24 * $mm;
        width: 100%;

        &-img {
            width: 194 * $mm;
            height: 48 * $mm;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-confirmation {
            text-align: right;
            font-family: 'Akrobat';
            font-size: 33 * $mm;
            line-height: 40 * $mm;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
    }

    &__h1 {
        font-family: 'Akrobat';
        font-size: 52 * $mm;
        // font-size: calc(52 * 0.2636);
        line-height: 110%;
        color: #2c2c2c;
        margin-bottom: 32 * $mm;
        text-transform: uppercase;

        &--mb {
            margin-bottom: 48 * $mm;
        }

        span {
            color: #aaaaaa;
        }
    }

    &__h2 {
        font-family: 'Akrobat';
        font-size: 42 * $mm;
        line-height: 50 * $mm;
        text-transform: uppercase;
        margin-bottom: 16 * $mm;
        color: #2c2c2c;

        &--mb {
            margin-bottom: 24 * $mm;
        }
    }

    &__h3 {
        font-family: 'Akrobat';
        font-size: 24 * $mm;
        line-height: 29 * $mm;
        text-transform: uppercase;
        margin-bottom: 16 * $mm;
        color: #2c2c2c;
    }

    &__list {
        &-name {
            font-size: 24 * $mm;
            line-height: 29 * $mm;
            color: #aaaaaa;
            margin-bottom: 4 * $mm;
        }

        &-value {
            display: block;
            font-family: 'Calibri';
            font-weight: 400;
            font-size: 24 * $mm;
            line-height: 1.2;
            margin-left: 0;

            &--mb {
                &:not(:last-child) {
                    margin-bottom: 24 * $mm;
                }
            }

            svg {
                width: 32 * $mm;
                height: 32 * $mm;
                // margin: -3 * $mm 4 * $mm 0 0;
                margin-right: 4 * $mm;

                // position: relative;
                // display: inline-block;
                // font-size: 0;
                // line-height: 0;
                // text-align: center;
                // vertical-align: middle;
            }
        }
    }

    &__order {
        width: 100%;

        // td {
        //     width: 50%;

        //     &:first-child {
        //         padding-right: 8 * $mm;
        //     }
        //     &:not(:first-child) {
        //         padding-left: 8 * $mm;
        //     }
        // }
    }

    &__refund {
        padding: 32 * $mm;
        border: 2 * $mm solid #000000;
        border-radius: 16 * $mm;

        &-title {
            font-family: 'Akrobat';
            font-size: 32 * $mm;
            line-height: 38 * $mm;
            margin-bottom: 16 * $mm;
        }

        &-text {
            font-size: 24 * $mm;
            line-height: 29 * $mm;
            color: #2c2c2c;
        }
    }

    &__footer {
        border-top: 2 * $mm solid #000;
        padding-top: 24 * $mm;
        width: 100%;

        &-col {
            vertical-align: middle;
            &:first-child {
                padding-right: 24 * $mm;
            }

            &:not(:first-child) {
                padding-right: 24 * $mm;
                padding-left: 24 * $mm;
            }

            &:last-child {
                padding-right: 0 !important;
            }
        }

        &-link {
            display: inline-block;
            font-size: 20 * $mm;
            line-height: 24 * $mm;
            white-space: nowrap;

            &--app {
                padding: 8 * $mm 16 * $mm;
                background: #eceffa;
                border-radius: 4 * $mm;
            }

            svg {
                margin-right: 8 * $mm;
            }

            span {
                display: block;
                font-size: 14 * $mm;
                line-height: 17 * $mm;
            }
        }
        &-img {
            width: 194 * $mm;
            height: 48 * $mm;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-confirmation {
            text-align: right;
            font-family: 'Akrobat';
            font-size: 33 * $mm;
            line-height: 40 * $mm;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }
    }
}

.voucher-template-booking {
    &__name {
        font-size: 20 * $mm;
        line-height: 24 * $mm;
        color: #aaaaaa;
        margin-bottom: 4 * $mm;
    }

    &__value {
        font-size: 24 * $mm;
        line-height: 29 * $mm;
    }
}
