$mm: 0.2636mm;

.voucher-template-stay {
    padding: 32 * $mm 40 * $mm;
    border: 2 * $mm solid #000000;
    border-radius: 16 * $mm;

    &__col {
        width: 149 * $mm;

        &--center {
            width: auto;
            vertical-align: middle;
        }
    }

    &__title {
        font-size: 24 * $mm;
        line-height: 29 * $mm;
        color: #aaaaaa;
        margin-bottom: 8 * $mm;
    }

    &__date {
        font-family: 'Akrobat';
        font-weight: 700;
        font-size: 34 * $mm;
        line-height: 41 * $mm;
        color: #2c2c2c;
    }

    &__time {
        font-size: 24 * $mm;
        line-height: 120%;
    }

    &__period {
        font-size: 20 * $mm;
        line-height: 24 * $mm;
        text-align: center;
        vertical-align: middle;

        &::after,
        &::before {
            content: '';
            display: inline-block;
            font-size: 0;
            line-height: 0;
            width: 29 * $mm;
            height: 1 * $mm;
            background: #000;
            vertical-align: middle;
            margin-right: 12 * $mm;
            margin-left: 12 * $mm;
        }
    }
}
